header {
    width: 100% auto; }
    header .navbar {
      width: auto;
      height: 50px;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: salmon;
      position: fixed;
      width: 100%; }
      header .navbar-brand img {
        width: 50px; }
      header .navbar-nav .nav-item {
        padding: 10px;
        margin: 10px; }
        header .navbar-nav .nav-item .a {
          color: black; }
        header .navbar-nav .nav-item .dropdown-menu {
          background-color: rgba(128, 128, 128, 0.63); }
          header .navbar-nav .nav-item .dropdown-menu :hover {
            color: #fa7769;
            background-color: #585858;
}
.servicios {
  background-color: #fa7769;
  text-align: center;
  margin-top: 20px; }

.servicios .texto1 {
  text-align: center;
  color: white;
  padding-top: 20px; }

.servicios .cards .card1 {
  background-color: rgba(224, 210, 210, 0.637);
  border-radius: 10px;
  transition: all 1s; }

.servicios .cards .card1 .img {
  border-radius: 10px; }

.servicios .cards .card1:hover {
  transform: scale(1.2); }

.servicios .cards .card2 {
  background-color: rgba(224, 210, 210, 0.637);
  border-radius: 10px;
  transition: all 1s; }

.servicios .cards .card2 .img {
  border-radius: 10px; }

.servicios .cards .card2:hover {
  transform: scale(1.2); }

.servicios .cards .card3 {
  background-color: rgba(224, 210, 210, 0.637);
  border-radius: 10px;
  transition: all 1s; }

.servicios .cards .card3 .img {
  border-radius: 10px; }

.servicios .cards .card3:hover {
  transform: scale(1.2); }

.servicios .cards .card4 {
  background-color: rgba(224, 210, 210, 0.637);
  border-radius: 10px;
  transition: all 1s; }

.servicios .cards .card4 .img {
  border-radius: 10px; }

.servicios .cards .card4:hover {
  transform: scale(1.2);
}
footer {
    width: 100% auto; }
    footer .grupo-1 {
      display: flex; }
      footer .grupo-1 .box {
        display: flex;
        background-color: #282847;
        width: 100%;
        justify-content: center;
        color: black; }
        footer .grupo-1 .box .h6 {
          background-color: pink;
          color: pink;
          text-align: center; }
      footer .grupo-1 .red-social {
        background-color: #282847;
        display: flex;
        justify-content: start; }
        footer .grupo-1 .red-social .a {
          justify-content: space-around; }
    footer .grupo-2 {
      background-color: gray;
      text-align: center; }

