@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  min-height: 100vh;
  background-image: url("../multimedia/Diseño sin título.jpg"); }

.servicios {
  background-color: #fa7769;
  text-align: center; }
  .servicios .texto1 {
    text-align: center;
    color: white;
    padding-top: 20px; }
  .servicios .cards .card1 {
    background-color: rgba(224, 210, 210, 0.637);
    border-radius: 10px; }
    .servicios .cards .card1 .img {
      border-radius: 10px; }

.caricaturas {
  background-color: #fa7769;
  text-align: center; }
  .caricaturas .texto1 {
    text-align: center;
    color: white;
    padding-top: 20px; }
  .caricaturas .cards .card1 {
    background-color: rgba(224, 210, 210, 0.637);
    border-radius: 10px; }
    .caricaturas .cards .card1 .img {
      border-radius: 10px; }

.teen {
  background-color: #fa7769;
  text-align: center; }
  .teen .texto1 {
    text-align: center;
    color: white;
    padding-top: 20px; }
  .teen .cards .card1 {
    background-color: rgba(224, 210, 210, 0.637);
    border-radius: 10px; }
    .teen .cards .card1 .img {
      border-radius: 10px; }

.wsplogo {
  position: right  fixed; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100% auto; }
  header .navbar {
    width: auto;
    height: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: salmon;
    position: fixed;
    width: 100%; }
    header .navbar-brand img {
      width: 50px; }
    header .navbar-nav .nav-item {
      padding: 10px;
      margin: 10px; }
      header .navbar-nav .nav-item .a {
        color: black; }
      header .navbar-nav .nav-item .dropdown-menu {
        background-color: rgba(128, 128, 128, 0.63); }
        header .navbar-nav .nav-item .dropdown-menu :hover {
          color: #fa7769;
          background-color: #585858; }

footer {
  width: 100% auto; }
  footer .grupo-1 {
    display: flex; }
    footer .grupo-1 .box {
      display: flex;
      background-color: #282847;
      width: 100%;
      justify-content: center;
      color: black; }
      footer .grupo-1 .box .h6 {
        background-color: pink;
        color: pink;
        text-align: center; }
    footer .grupo-1 .red-social {
      background-color: #282847;
      display: flex;
      justify-content: start; }
      footer .grupo-1 .red-social .a {
        justify-content: space-around; }
  footer .grupo-2 {
    background-color: gray;
    text-align: center; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "texto1 texto1"
 "texto2 texto3"; }
  .container .texto1 {
    grid-area: texto1;
    text-align: center; }
    .container .texto1 .parrafo {
      color: #bbbb61;
      font-family: "Anton", sans-serif;
      width: auto;
      margin-top: 5px; }
      .container .texto1 .parrafo .span {
        color: #050505;
        justify-content: top;
        font-family: "Anton", sans-serif;
        width: 500px; }
  .container .texto2 {
    grid-area: texto2; }
    .container .texto2 .parrafo {
      font-family: "Anton", sans-serif;
      height: 100% auto;
      width: 100% auto; }
      .container .texto2 .parrafo .span {
        color: #bbbb61;
        font-family: "Anton", sans-serif; }
      .container .texto2 .parrafo .parrafo2 {
        width: 100% auto; }
  .container .texto3 {
    grid-area: texto3;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 0.8fr;
    grid-auto-flow: row;
    grid-template-areas: "parrafo parrafo"
 "ilustracion ilustracion"
 "pie pie"; }
    .container .texto3 .parrafo {
      color: #bbbb61;
      font-family: "Anton", sans-serif;
      width: auto;
      margin-top: 5px;
      margin-left: 100px; }
      .container .texto3 .parrafo .span {
        color: #050505;
        justify-content: top;
        font-family: "Anton", sans-serif;
        text-align: center;
        margin-left: 50px; }
    .container .texto3 .ilustracion {
      grid-area: ilustracion;
      display: flex;
      height: 100%;
      margin-left: 100px; }
      .container .texto3 .ilustracion .reloj {
        height: 100%;
        width: 100%;
        margin-left: 25px; }
      .container .texto3 .ilustracion .parrafo {
        height: 100%;
        width: 100%; }
    .container .texto3 .pie {
      grid-area: pie;
      color: white;
      background-color: #bbbb61;
      margin-left: 120px;
      border-radius: 10px;
      text-align: center;
      margin-top: 10px; }
      .container .texto3 .pie .parrafopie {
        width: 100% auto;
        color: white;
        font-family: "Anton", sans-serif;
        margin-top: 5px; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 600px; }
  .container .aside {
    display: flex;
    width: 100% auto; }
    .container .aside .h1 {
      text-align: center;
      width: 100% auto;
      margin-top: 100px;
      margin-left: 50px; }
    .container .aside .cel {
      justify-content: end;
      justify-items: end; }
      .container .aside .cel .img {
        width: 380px;
        margin-left: 300px; }

.servicios {
  background-color: #fa7769;
  text-align: center;
  margin-top: 20px; }

.servicios .texto1 {
  text-align: center;
  color: white;
  padding-top: 20px; }

.servicios .cards .card1 {
  background-color: rgba(224, 210, 210, 0.637);
  border-radius: 10px;
  transition: all 1s; }

.servicios .cards .card1 .img {
  border-radius: 10px; }

.servicios .cards .card1:hover {
  transform: scale(1.2); }

.servicios .cards .card2 {
  background-color: rgba(224, 210, 210, 0.637);
  border-radius: 10px;
  transition: all 1s; }

.servicios .cards .card2 .img {
  border-radius: 10px; }

.servicios .cards .card2:hover {
  transform: scale(1.2); }

.servicios .cards .card3 {
  background-color: rgba(224, 210, 210, 0.637);
  border-radius: 10px;
  transition: all 1s; }

.servicios .cards .card3 .img {
  border-radius: 10px; }

.servicios .cards .card3:hover {
  transform: scale(1.2); }

.servicios .cards .card4 {
  background-color: rgba(224, 210, 210, 0.637);
  border-radius: 10px;
  transition: all 1s; }

.servicios .cards .card4 .img {
  border-radius: 10px; }

.servicios .cards .card4:hover {
  transform: scale(1.2); }

h1 {
  font-family: 'Anton', sans-serif; }

@media (max-width: 1400px) {}
@media (max-width: 1200px) {
  .servicios .cards .card1 {
    padding: 5px;
    margin-top: 10px;
    margin-right: 2px;
  }
  .servicios .cards .card2 {
    padding: 5px;
    margin-top: 10px;
    margin-right: 2px;;
  }
  .servicios .cards .card3 {
    padding: 5px;
    margin-top: 10px;
    margin-right: 2px;
  }
  .servicios .cards .card4 {
    padding: 5px;
    margin-top: 10px;
    margin-right: 2px;
  }
}
@media (max-width: 992px) {
  .container .aside .cel .img {
    width: 380px;
    margin-left: 15px; }
}
@media (max-width: 768px) {
  .container .aside .h1 {
    text-align: center;
    width: 100% auto;
    margin-top: 100px;
    margin-left: 2px; }
  .container .aside .cel {
    justify-content: end;
    justify-items: end; }
    .container .aside .cel .img {
      width: 380px;
      margin-left: 25px; }
  .servicios .card {
    display: flex;}
    .servicios .cards .card1 {
      margin-left: 240px;}
    .servicios .cards .card2 {
      margin-left: 240px;
      margin-top: 10px;
    }
    .servicios .cards .card3 {
      margin-left: 240px;
      margin-top: 10px;
    }
    .servicios .cards .card4 {
      margin-left: 240px;
      margin-top: 10px;
    }
    .container-fluid-contactenos {
      margin-top: 100px;
    }
}
@media (max-width: 576px) {
  .container .aside .h1 {
    text-align: center;
    width: 100% auto;
    margin-top: 100px;
    margin-left: 160px; }
  .servicios .cards .card1 {
    margin-left: 100px;}
  .servicios .cards .card2 {
    margin-left: 100px;
    margin-top: 10px;
  }
  .servicios .cards .card3 {
    margin-left: 100px;
    margin-top: 10px;
  }
  .servicios .cards .card4 {
    margin-left: 100px;
    margin-top: 10px;
  }  
}
